body{
    background: linear-gradient(to right, #0000ff, #ff00ee);
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1em;
    
}
h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.5px;
}
